.miniCartItem{
  width: 293px;
  @include display-theme(row, unset, unset);
  flex-shrink: 0;
  color: $primary-dark-color;
  margin-bottom: 40px;
  cursor: default;
  &__variant{
    width: 136px;
    @include display-theme(column, unset, unset);
    margin-right: 4px;
    &--header{
      height:26px;
      @include font-theme($primary-font,$primary-style,300,$primary-size,160%);
    }
    &--name{
      @include font-theme($primary-font,$primary-style,300,$primary-size,160%);
      margin-bottom: 4px;
    }
    &--price{
      height: 26px;
      @include font-theme($primary-font,$primary-style,600,$primary-size,160%);
    }
  }
  &__counter{
    margin-right: 8px;
    height: inherit;
    @include display-theme(column, space-between, center);
    &--button{
      width:24px;
      height:24px;
      @include display-theme(row, center, center);
      border: 1px solid $primary-dark-color;
      background-color: $background-color;
      cursor: pointer;
      transition: 200ms ease;
      &:hover{
        background-color: $primary-dark-color;
      }
      &:hover :first-child {
        stroke: $background-color;
      }
      &:hover :nth-child(2){
        stroke: $background-color;
      }
      &.toDelete{
        display: flex;
        position: relative;
        & .minus1 {
          position:absolute;
        }
        & .minus2 {
          position:absolute;
        }
        &:hover .minus1{
          position: absolute;
          transform: rotateZ(45deg);
        }
        &:hover .minus2{
          position: absolute;
          transform: rotateZ(-45deg);
        }
      }
    }
    &--actualCount{
      @include font-theme($primary-font,$primary-style,600,$primary-size,160%);
    }

  }
  &__photo{
    background-color: transparent;
    width: 121px;
    height: 190px;
    @include display-theme(row, unset, center);
    &--image{
      @include transition(all 200ms ease);
      width:121px;
      height: 190px;
      object-fit: contain;
      object-position: 50% 50%;
    }
  }
  &:last-child{
    margin-bottom: 0;
  }
}