.category{
  padding: 0 100px 0 100px;
  margin-top:80px;
  position:relative;
}
.category__title{
  @include font-theme($primary-font,$primary-style,$primary-weight,42px,160%);
  color: $primary-dark-color;
  cursor: default;
}
.spinnerWrapper{
  height:170px;
  @include display-theme(row, center, center);
  &--spinner{
    position: absolute;
    width:120px;
    height:120px;
    @include animation( spinn 2s reverse infinite linear );
    &.hide{
      height:0px;
      opacity: 0;
      display: none;
    }
    &.noData{
      animation: noData 2s reverse infinite linear;
    }
  }
  
}
@keyframes noData {
  0% {
    @include transform(rotate(0deg));
  }
  
}
@keyframes spinn {
  0% {
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(360deg));
  }
}
@media screen and ( max-width: 600px) {
  .category{
    padding: 0 16px 0 16px;
    margin-top: 40px;
  }
  
}