.container {
  width:100vw;
  position: relative;
  height: min-content;
  min-height: 100vh;
  &__fog{
    position:absolute;
    width:100vw;
    left: calc( -0.5 * ((100vw - 100%)) );
    bottom: 0;
    top: 80px;
    background: rgba(57, 55, 72, 0.22);
    z-index:1;
  }
}


@media screen and ( min-width: 1440px) {
  .container{
  width: 1440px;
  }
}