.CartItem{
  // width:inherit;
  display:flex;
  flex-direction: row;
  width:100%;
  font-family: 'Raleway';
  font-style: normal;
  color: #1D1F22;
  margin-bottom: 24px;
  flex-wrap: wrap;
  cursor: default;
  &__variant{
    width: 292px;
    display:flex;
    flex-direction: column;
    margin-right: 4px;

    flex:1 0 auto;
    &--header{
      height:26px;
      font-weight: 600;
      font-size: 30px;
      line-height: 27px;
      margin: 24px 0 16px 0;
    }
    &--name{
      font-weight: 400;
      font-size: 30px;
      line-height: 27px;      
      margin-bottom: 20px;
    }
    &--price{
      height: 24px;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 12px;
    }
    
  }
  &__counter{
    margin: 24px 24px 0 0;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 auto;
    &--button{
      width:45px;
      height:45px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #1D1F22;
      background-color: #ffffff;
      transition: all 250ms ease;
      cursor: pointer;
      &:hover{
        background-color: #1D1F22;
      }
      &:hover :first-child {
        stroke: #ffffff;
      }
      &:hover :nth-child(2){
        stroke: #ffffff;
      }
      &.toDelete{
        display: flex;
        position: relative;
        & .minus1 {
          position:absolute;
        }
        & .minus2 {
          position:absolute;
        }
        &:hover .minus1{
          position: absolute;
          transform: rotateZ(45deg);
        }
        &:hover .minus2{
          position: absolute;
          transform: rotateZ(-45deg);
        }
      }
    }
    &--actualCount{
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 160%;
    }

  }
  &__photo{
    background-color: transparent;
    width: 200px;
    height: inherit;
    margin-top:24px;
    display: flex;
    align-items: center;

    flex: 0 0 auto;
    &--image{
      transition: all 200ms ease;
      width:200px;
      height: 288px;
      object-fit: contain;
      object-position: 50% 50%;
    }
    &--buttonSet{
      width:56px;
      height:24px;
      display: flex;
      gap: 8px;
      position: relative;
      right:calc(56px + 16px);
      top: calc(144px - 12px - 16px);
      
      .switch{
        width:24px;
        height:24px;
        display:flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.73);
        border: none;
      }
    }
  }
  &:last-child{
    margin-bottom: 0;
  }
}