.cart{
  padding: 0 100px 0 100px;
  margin-top:80px;
  width: inherit;
  // position:relative;
  &__header{
    width: 84px;
    height: 40px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #1D1F22;
    margin-bottom: 55px;
  }
  &__hLine{
    background-color: #E5E5E5;
    height:1px;
    border-width:0;
  }
  &__total{
    width: 279px;
    height:159px;
    margin-top:30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #1D1F22;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    flex-shrink: 0;
    &--list{
      list-style-type:  none;
      display: flex;
      flex-direction: row;
      color: #1D1F22;
      .label{
        list-style-type:  none;
        width:104px;
        height: 28px;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 8px;
        // align-items8: flex-end;
        
      }
      .amount{
        list-style-type: none;
        width:104px;
        height: 28px;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 8px;
      }
      .label--bold{
        list-style-type: none;
        height: 28px;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        
        margin-bottom: 8px;
      
      }
      .label--bold--amount{
        height: 28px;
        list-style-type: none;
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 4px;
      }
    }
    &--order{
      width: 279px;
      height: 43px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 16px 32px;
      margin-top:8px;
      background: #5ECE7B;
      font-weight: 600;
      font-size: 14px;
      line-height: 120%;
      color: #ffffff;
    }
  }
}

// .category__title{
//   font-family: 'Raleway';
//   font-style: normal;
//   font-weight: 400;
//   font-size: 42px;
//   line-height: 160%;
//   color: #1D1F22;
//   cursor: default;
// }

@media screen and ( max-width: 600px) {
  .category{
    padding: 0 16px 0 16px;
    margin-top: 40px;
  }
  
}

@media screen and ( min-width: 1440px) {
  .nav {
    width:1440px;
  }
}