.category{
  padding: 0 100px 0 100px;
  margin-top:80px;
  position:relative;
}

.category__title{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 160%;
  color: #1D1F22;
  cursor: default;
}
.spinnerWrapper{
  height:170px;
  display: flex;
  justify-content: center;
  align-items: center;
  &--spinner{
    position: absolute;
    width:120px;
    height:120px;
    animation: spinn 2s reverse infinite linear;
    
    // opacity:0;
    &.hide{
      height:0px;
      opacity: 0;
      display: none;
    }
    &.noData{
      animation: noData 2s reverse infinite linear;
    }
  }
  
}


@keyframes noData {
  0% {
    transform: rotate(0deg);
  }
  
}
@keyframes spinn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and ( max-width: 600px) {
  .category{
    padding: 0 16px 0 16px;
    margin-top: 40px;
  }
  
}