.miniCartItem{
  width: 293px;
  display:flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: 'Raleway';
  font-style: normal;
  color: #1D1F22;
  margin-bottom: 40px;
  cursor: default;
  &__variant{
    width: 136px;
    display:flex;
    flex-direction: column;
    margin-right: 4px;
    &--header{
      height:26px;
      font-weight: 300;
      font-size: 16px;
      line-height: 160%;
    }
    &--name{
      font-weight: 300;
      font-size: 16px;
      line-height: 160%;
      margin-bottom: 4px;
    }
    &--price{
      height: 26px;
      font-weight: 600;
      font-size: 16px;
      line-height: 160%;
    }
  }
  &__counter{
    margin-right: 8px;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &--button{
      width:24px;
      height:24px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #1D1F22;
      background-color: #ffffff;
      cursor: pointer;
      transition: 200ms ease;
      &:hover{
        background-color: #1D1F22;
      }
      &:hover :first-child {
        stroke: #ffffff;
      }
      &:hover :nth-child(2){
        stroke: #ffffff;
      }
      &.toDelete{
        display: flex;
        position: relative;
        & .minus1 {
          position:absolute;
        }
        & .minus2 {
          position:absolute;
        }
        &:hover .minus1{
          position: absolute;
          transform: rotateZ(45deg);
        }
        &:hover .minus2{
          position: absolute;
          transform: rotateZ(-45deg);
        }
      }
    }
    &--actualCount{
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 160%;
    }

  }
  &__photo{
    background-color: transparent;
    width: 121px;
    height: 190px;
    display: flex;
    align-items: center;
    &--image{
      transition: all 200ms ease;
      width:121px;
      height: 190px;
      object-fit: contain;
      object-position: 50% 50%;
    }
  }
  &:last-child{
    margin-bottom: 0;
  }
}