.miniCartItem{
  width: 293px;
  display:flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: 'Raleway';
  font-style: normal;
  color: #1D1F22;
  margin-bottom: 40px;
  cursor: default;
  &__variant{
    width: 136px;
    display:flex;
    flex-direction: column;
    margin-right: 4px;
    &--header{
      height:26px;
      font-weight: 300;
      font-size: 16px;
      line-height: 160%;
    }
    &--name{
      font-weight: 300;
      font-size: 16px;
      line-height: 160%;
      margin-bottom: 4px;
    }
    &--price{
      height: 26px;
      font-weight: 600;
      font-size: 16px;
      line-height: 160%;
    }
    
  }
  &__counter{
    margin-right: 8px;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &--button{
      width:24px;
      height:24px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #1D1F22;
      background-color: #ffffff;
      cursor: pointer;
      &:hover{
        background-color: #1D1F22;
      }
      &:hover :first-child {
        stroke: #ffffff;
      }
      &:hover :nth-child(2){
        stroke: #ffffff;
      }
    }
    &--actualCount{
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 160%;
    }

  }
  &__photo{
    background-color: transparent;
    width: 121px;
    height: 190px;
    display: flex;
    align-items: center;
    &--image{
      transition: all 200ms ease;
      width:121px;
      height: 190px;
      object-fit: contain;
      object-position: 50% 50%;
    }
  }
  &:last-child{
    margin-bottom: 0;
  }
  // &--price{
  //   display:flex;
  //   flex-direction: column;
  //   margin-bottom: 20px;
  //   gap:8px;
  //   .price__label{
  //     font-family: 'Roboto Condensed';
  //     font-style: normal;
  //     font-weight: 700;
  //     font-size: 18px;
  //     line-height: 18px;
      
  //   }
  //   .price__amount{
  //     height: 46px;
  //     display: flex;
  //     align-items: center;
  //     font-family: 'Raleway';
  //     font-style: normal;
  //     font-weight: 700;
  //     font-size: 24px;
  //     line-height: 18px;
  //   }
  // }
  // &--button{
  //   width: 292px;
  //   height: 52px;
  //   background-color: #5ECE7B;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   font-family: 'Raleway';
  //   font-style: normal;
  //   font-weight: 600;
  //   font-size: 16px;
  //   line-height: 120%;
  //   color: #ffffff;
  //   border: none;
  //   margin-bottom: 40px;
  //     &.notInStock{
  //     background-color: #D3D2D5;
  //     &:hover{
  //       background-color: #aaaaaa;
  //     }
  //   }
  //   &:hover{
  //     background-color: #2fcd5f;
  //   }
  // }
  // &--footer{
    
  //   font-family: 'Roboto';
  //   font-style: normal;
  //   font-weight: 400;
  //   font-size: 16px;
  //   line-height: 159.96%;
  //   .description{
  //     list-style-position: inside;
  //     color: #1D1F22;
  //     height: 300px;
  //     position: relative;
  //     overflow-y: hidden;
  //     scrollbar-width: thin;
  //     scrollbar-color: #5ECE7B #f1f1f1;
  //     &:hover{
  //       overflow-y: auto;
  //       // box-shadow: 0 0 20px #d9d9d9;
  //     }
  //     &:hover::-webkit-scrollbar{
  //       width: 6px;
  //     }
  //     &:hover::-webkit-scrollbar-track{
  //       background: #f1f1f1;
  //     }
  //     &:hover::-webkit-scrollbar-thumb{
  //       width: 6px;
  //       background: #5ECE7B;
  //       border-radius: 3px;
  //       box-shadow: inset 0 0 1px rgb(0, 0, 0); 
  //     }
  //   }
  // }
  
}