.miniCart{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  z-index:2;
  width: 325px;
  max-height: 677px;//change
  top: 78px;
  right: -39px;
  padding: 32px 16px;
  gap: 32px;
  background: #ffffff;
  cursor: default;
  &__header{
      background-color: #ffffff;
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      width: 118px;
      height: 26px;
      color: #1D1F22;
      &--bold{
        font-weight: 700;
      }
    }
    &__total{
      width: 293px;
      display: flex;
      justify-content: space-between;
      height:28px;
      &--text{
        display: flex;
        height: 26px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        align-items: flex-end;
        
      }
      &--amount{
        display: flex;
        height: 26px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
        align-items: flex-start;
      }
    }
    &__footer{
      width: 293px;
      display: flex;
      justify-content: space-between ;
      &--buttonBag{
        width: 140px;
        height: 43px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        background-color: #FFFFFF;
        border: solid 1px #1D1F22;
        cursor: pointer;
        &:hover{
          box-shadow: none;
        }
      }
      &--buttonCheckout{
        width: 140px;
        height: 43px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        background-color: #5ECE7B;
        border: none;
        color: #ffffff;
        cursor: pointer;
      }
    }
  &__content{
    // background-color: #999999;
    position: relative;
    overflow-y: hidden;
    scrollbar-width: thin;
    scrollbar-color: #5ECE7B #f1f1f1;
    &:hover{
      overflow-y: scroll;
      // box-shadow: 0 0 20px #d9d9d9;
    }
    &:hover::-webkit-scrollbar{
      width: 6px;
    }
    &:hover::-webkit-scrollbar-track{
      background: #f1f1f1;
    }
    &:hover::-webkit-scrollbar-thumb{
      width: 6px;
      background: #5ECE7B;
      border-radius: 3px;
      box-shadow: inset 0 0 1px rgb(0, 0, 0); 
    }
  }
  // filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));
}
  
  @media screen and ( max-width: 600px) {
    .miniCart{
      right: 10px;
    }
  }
