.nav {
  display: flex;
  align-items: center;
  background: #ffffff;
  color: red;
  font-size: 16px;
  height: 80px;
  padding: 0 101px 0 101px;
}

.nav__row {
  &:nth-child(n){
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  flex:1;
  }
  &:nth-child(1){
  justify-content: flex-start;
  }
  &:nth-child(3){
  justify-content: flex-end;
  }
}

.nav__menu--cat {
  height:100%;
  & ul{
  display: flex;
  align-items: center;
  list-style: none;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #1D1F22;
  height: 100%;
  
    a {
      text-decoration: none;
      color: #1D1F22;
      height:100%;
      li {
      display:flex;
      align-items: center;
      height:100%;
      text-decoration: none;
      align-items: center;
      padding: 0 16px 0 16px;
      transition: box-shadow, color,  250ms ease;
      
        &:hover {
        color: #5ECE7B;
        cursor:pointer;
        box-shadow: inset 0px -2px 0px 0px #5ECE7B;
        }
    
      }
    }
  }
}

.nav__menu--cart {
  height:100%;
  & ul{
  display: flex;
  align-items: center;
  list-style: none;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #1D1F22;
  height: 100%;
  }
  & li {
  display:flex;
  align-items: center;
  height:100%;
  align-items: center;
  padding: 0 11px 0 11px;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  }
  & li.caret{
    padding: 0 11px 0 0;
  }
  & li:last-child{
    padding: 0 0 0 11px;
    position:relative;
  }
  & .caret{
    transition: 500ms ease;
  }
  & .caret.open {
    transform: rotateX(180deg);
  }
  & li:hover {
  cursor:pointer;
  }
}

.cartCounter{
  position: absolute;
  top: 20px;
  left: 24px;
  border-radius: 50% 50%;
  background-color: #1D1F22;
  color: #ffffff;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
}

@keyframes flip-down {
  0% { transform: rotateX(0deg)  }
  100% {transform: rotateX(180deg)}
}

@media screen and ( max-width: 600px) {
  .nav {
    padding: 0 16px 0 16px;
  }
  .nav__menu--cat {
    & li {
    padding: 0 8px 0 8px;
    }
  }
}

@media screen and ( min-width: 1440px) {
  .nav {
    width:1440px;
  }
}