.productDesc{
  display:flex;
  margin-top: 33px;
  padding: 0 100px 0 96px;

  &__thumbs{
    width: 79px;
    margin: 49px 14px 0 0;
    
    display: flex;
    gap: 40px;
    flex-direction: column;
    &--thumb-item{
      width: 79px;
      height: 80px;
      background-color: orange;
    }
  }

  &__main--photo{
    width: 610px;
    height: 511px;
    background-color: orangered;
    margin: 49px 100px 0 26px;
    object-fit: contain;
    flex-shrink: 0;
  }
  &__block{
    margin: 49px 0 0 0;
    width: 292px;
    // min-width: 292px; //???
    display:flex;
    flex-direction: column;
    flex-shrink: 0;
    font-family: 'Raleway';
    font-style: normal;
    &--header{
      margin-bottom: 16px;;
      font-weight: 600;
      font-size: 30px;
      line-height: 27px;
    }
    &--name{
      margin-bottom: 16px;;
      font-weight: 400;
      font-size: 30px;
      line-height: 27px;
    }
    &--variantSize{
      display:flex;
      flex-direction: column;
      .variantSize__label{
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 8px;
      }
      .variantSize__options{
        height: 45px;
        display:flex;
        gap: 12px;
        &--Btn{
          width: 63px;
          height: 45px;
          background-color: #FFFFFF;
          border: 1px solid #1D1F22;
          border-radius: 0;
          
          font-family: 'Source Sans Pro';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 18px;
          transition: all 200ms ease;
          .selected{
            background-color: #1D1F22;
            color: #FFFFFF;
          }
          &:hover{
            background-color: #1D1F22;
            color: #FFFFFF;
          }
        }
      }
    }
    
  }
}