.productDesc__thumbs{
  position: relative;
  overflow-y: hidden;
  scrollbar-width: thin;
  
  width: 99px;
  height: 511px;
  margin: 49px 20px 0 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-right: 0; 
  flex-shrink: 0;
  &:hover{
    overflow-y: scroll;
    // box-shadow: 0 0 20px #d9d9d9;
  }
  // &:hover::-webkit-scrollbar{
  //   display: none;
  // }
  &--thumb-item{
    width: 79px;
    height: 80px;
    background-color: transparent;
    flex-shrink: 0;;
    object-fit: contain;
  }
}