.productDesc__block{
  &--variantSize{
      display:flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-bottom: 24px;
      .variantSize__label{
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 8px;
      }
      .variantSize__options{
        display:flex;
        gap: 12px;
        flex-wrap:wrap;
        flex-shrink: 0;
        width: 292px;
        &--Btn{
          width: 63px;
          height: 45px;
          background-color: #FFFFFF;
          border: 1px solid #1D1F22;
          border-radius: 0;
          
          font-family: 'Source Sans Pro';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 18px;
          transition: all 200ms ease;
          &.selected{
            background-color: #1D1F22;
            color: #FFFFFF;
          }
          &:hover{
            background-color: #1D1F22;
            color: #FFFFFF;
          }
        }
      }
    }
}