// fonts
$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Roboto',sans-serif;
$third-font: 'Source Sans Pro';
$forth-font: 'Roboto Condensed';
$primary-style: normal;
$primary-weight: 400;
$primary-size: 16px;
$primary-l-height: 120%;

//colors
$primary-dark-color: #1D1F22;
$background-color: #ffffff;
$button-primary-color:#5ECE7B;
$button-alert: #2fcd5f;
$scroll-secondary: #f1f1f1;
$primary-light-grey: #8D8F9A;
